<footer
    class="flex flex-col items-center justify-center h-16 bg-primary max-w-6xl mx-auto rounded-2xl mt-10 p-3"
>
    <p class="text-light text-sm">
        &copy; {new Date().getFullYear()} Encuentas Cusco <span
            aria-hidden="true"
            class="inline">|</span
        > Todo los derechos reservados
    </p>
</footer>
