<header
    class="mx-auto max-w-6xl py-20 px-5 bg-primary md:px-16 rounded-2xl bg-[url('/images/hero-bg.svg')] bg-center no-repeat bg-cover md:py-40"
>
    <h1
        class="text-light tracking-tight leading-none mb-8 font-medium text-center"
    >
        Articulos y noticias de toda la region de Cusco Perú, cultura, sociedad
        y mucho más
    </h1>
    <p class="text-light text-xl">
        Últimas encuetas, noticias y articulos sobre la region de Cusco y Perú,
        mantente informado con el contenido relevante y actualizado sobre la
        realidad social, politica y cultura de toda la región y Perú.
    </p>
</header>
